<div class="signup_page">
  <div class="creat_acount">
    <h4>Créer un compte</h4>

    <hr style="display:none">

  <form method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" autofocus>
    <label for="Name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name">
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <p>En vous inscrivant vous accepter les <a class="lien" href="/">règles mise en place</a>.</p>
    <button type="submit">Créer un compte</button>
  </form> 

    <!--<a class="lien" href="/auth/facebook">S'inscrire avec Facebook</a>
    <br>
    <a class="lien" href="/auth/twitter">S'inscrire avec Twitter</a>
    <br>
    <a class="lien" href="/auth/google">S'inscrire avec Google</a>
    <br>-->

    <p>Déjà un compte ? <a class="lien" href="/login">Se connecter</a></p>
  </div>
</div>


